.side-pane {
    -fx-background-color: #1366c8; /* fallback color */
    -fx-background-image: url("icon.png");
     /* or contain, depending on preference */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-size: 200px 200px;
}
